BODY {
	FONT-SIZE: 11px; MARGIN: 0px; WIDTH: 100%; COLOR: #000000; FONT-FAMILY: Tahoma; HEIGHT: 100%; BACKGROUND-COLOR: #dfdfd8
}
.main_text {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; CURSOR: hand; COLOR: #000000; TEXT-DECORATION: none
}
.menutop {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; COLOR: #ffffff; PADDING-TOP: 0px; TEXT-DECORATION: none
}
A.menutop:visited {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; COLOR: #ffffff; PADDING-TOP: 0px; TEXT-DECORATION: none
}
A.menutop:active {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; COLOR: #ffffff; PADDING-TOP: 0px; TEXT-DECORATION: none
}
A.menutop:hover {
	COLOR: #76726b
}

.standbut {
	BORDER-RIGHT: #0e1316 1px solid; BORDER-TOP: #0e1316 1px solid; FONT-SIZE: 11px; BACKGROUND: #0a0d10; BORDER-LEFT: #0e1316 1px solid; CURSOR: hand; COLOR: #90b0bf; LINE-HEIGHT: normal; MARGIN-RIGHT: 1px; BORDER-BOTTOM: #0e1316 1px solid; FONT-STYLE: normal; FONT-FAMILY: Tahoma; HEIGHT: 18px; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.standbutup {
	BORDER-RIGHT: #6e6e4a 1px solid; BORDER-TOP: #6e6e4a 1px solid; FONT-SIZE: 12px; BACKGROUND: #0a0d10; BORDER-LEFT: #6e6e4a 1px solid; CURSOR: hand; COLOR: #dadac0; LINE-HEIGHT: normal; MARGIN-RIGHT: 1px; BORDER-BOTTOM: #6e6e4a 1px solid; FONT-STYLE: normal; FONT-FAMILY: Tahoma; HEIGHT: 18px; FONT-VARIANT: normal; TEXT-DECORATION: none
}


.name {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.parametr_title {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #777773
}
.prname {
	PADDING-LEFT: 4px; FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Verdana, sans-serif
}
.prvalue {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Verdana, sans-serif
}
.btn {
	BORDER-RIGHT: #9a9996 1px double; BORDER-TOP: #9a9996 1px double; FONT-SIZE: 7.5pt; BACKGROUND-IMAGE: url(img/i/move/beg_butt.gif); BORDER-LEFT: #9a9996 1px double; COLOR: #dfdfdf; BORDER-BOTTOM: #9a9996 1px double; BACKGROUND-COLOR: #504f4c
}
.mainmenu {
	BORDER-RIGHT: #FAEBD7  1px; BORDER-TOP: #FAEBD7 1px solid; BORDER-LEFT: #FAEBD7 1px solid; CURSOR: hand; COLOR: #FFDEAD; BORDER-BOTTOM: #E0FFFF 1px solid; BACKGROUND-COLOR: #FFE4B5
}
.maptext {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, sans-serif
}
.posit {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ffffff 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #666666 1px solid
}
TD {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Verdana, sans-serif
}
