BODY {
	MARGIN: 3px 5px 10px; BACKGROUND-COLOR: #e1e1e1
}
BODY {
	SCROLLBAR-FACE-COLOR: #9a9996; FONT-SIZE: 11px; SCROLLBAR-HIGHLIGHT-COLOR: #9a9996; SCROLLBAR-SHADOW-COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #000000; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #e1decd; FONT-FAMILY: Tahoma, Verdana, Arial; SCROLLBAR-DARKSHADOW-COLOR: #9a9996
}
TD {
	SCROLLBAR-FACE-COLOR: #9a9996; FONT-SIZE: 11px; SCROLLBAR-HIGHLIGHT-COLOR: #9a9996; SCROLLBAR-SHADOW-COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #000000; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #e1decd; FONT-FAMILY: Tahoma, Verdana, Arial; SCROLLBAR-DARKSHADOW-COLOR: #9a9996
}
OL {
	SCROLLBAR-FACE-COLOR: #9a9996; FONT-SIZE: 11px; SCROLLBAR-HIGHLIGHT-COLOR: #9a9996; SCROLLBAR-SHADOW-COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #000000; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #e1decd; FONT-FAMILY: Tahoma, Verdana, Arial; SCROLLBAR-DARKSHADOW-COLOR: #9a9996
}
UL {
	SCROLLBAR-FACE-COLOR: #9a9996; FONT-SIZE: 11px; SCROLLBAR-HIGHLIGHT-COLOR: #9a9996; SCROLLBAR-SHADOW-COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #000000; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #e1decd; FONT-FAMILY: Tahoma, Verdana, Arial; SCROLLBAR-DARKSHADOW-COLOR: #9a9996
}
LI {
	SCROLLBAR-FACE-COLOR: #9a9996; FONT-SIZE: 11px; SCROLLBAR-HIGHLIGHT-COLOR: #9a9996; SCROLLBAR-SHADOW-COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #000000; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #e1decd; FONT-FAMILY: Tahoma, Verdana, Arial; SCROLLBAR-DARKSHADOW-COLOR: #9a9996
}
P {
	SCROLLBAR-FACE-COLOR: #9a9996; FONT-SIZE: 11px; SCROLLBAR-HIGHLIGHT-COLOR: #9a9996; SCROLLBAR-SHADOW-COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #000000; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #e1decd; FONT-FAMILY: Tahoma, Verdana, Arial; SCROLLBAR-DARKSHADOW-COLOR: #9a9996
}
TD {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Verdana, Arial
}
INPUT {
	BORDER-RIGHT: #000000 1pt solid; BORDER-TOP: #000000 1pt solid; FONT-SIZE: 11px; BORDER-LEFT: #000000 1pt solid; BORDER-BOTTOM: #000000 1pt solid; FONT-FAMILY: Tahoma, Verdana, Arial
}
SELECT {
	BORDER-RIGHT: 1pt solid; BORDER-TOP: 1pt solid; FONT-SIZE: 11px; BORDER-LEFT: 1pt solid; BORDER-BOTTOM: 1pt solid; FONT-FAMILY: Tahoma, Verdana, Arial
}
OPTION {
	BORDER-RIGHT: 1pt solid; BORDER-TOP: 1pt solid; FONT-SIZE: 11px; BORDER-LEFT: 1pt solid; BORDER-BOTTOM: 1pt solid; FONT-FAMILY: Tahoma, Verdana, Arial
}
TEXTAREA {
	BORDER-RIGHT: #000000 1pt solid; BORDER-TOP: #000000 1pt solid; FONT-SIZE: 11px; BORDER-LEFT: #000000 1pt solid; BORDER-BOTTOM: #000000 1pt solid; FONT-FAMILY: Tahoma, Verdana, Arial
}
H4.main {
	COLOR: red; TEXT-ALIGN: center
}
HR {
	CLEAR: both; BORDER-RIGHT: #7f6030 1px solid; BORDER-TOP: #7f6030 1px solid; BORDER-LEFT: #7f6030 1px solid; COLOR: #7f6030; BORDER-BOTTOM: #7f6030 1px solid; HEIGHT: 1px; BACKGROUND-COLOR: #7f6030
}
.login_s {
	BORDER-RIGHT: #80baff 1pt solid; BORDER-TOP: #80baff 1pt solid; FONT-SIZE: 11px; BORDER-LEFT: #80baff 1pt solid; COLOR: #691905; BORDER-BOTTOM: #80baff 1pt solid; FONT-FAMILY: Tahoma, Verdana, Arial
}
.button {
	BORDER-RIGHT: #817a63 1px solid; BORDER-TOP: #817a63 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #817a63 1px solid; COLOR: #dfddd3; BORDER-BOTTOM: #817a63 1px solid; FONT-FAMILY: ; BACKGROUND-COLOR: #2b2b18
}
.table_header {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #092869; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.table_header2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #b30101; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.table_data {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #092869; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.error {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #b30101; LINE-HEIGHT: normal; FONT-STYLE: italic; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.header {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #276482; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
.tableborder {
	BORDER-RIGHT: #7f6030 1px solid; BORDER-TOP: #7f6030 1px solid; BORDER-LEFT: #7f6030 1px solid; BORDER-BOTTOM: #7f6030 1px solid
}
.top_str {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.top_menu {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.navy {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #00497e; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.navy:hover {
	TEXT-DECORATION: underline
}
.activeNavy {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #b30101; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
A {
	FONT: 11px none; COLOR: #0046a6; TEXT-DECORATION: none
}
A:hover {
	COLOR: #b30101
}
.link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.link:hover {
	COLOR: #b30101
}
.alink {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #7ea1bb; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.bottom {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.sender {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000099; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.status {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.r_menu {
	FONT-WEIGHT: bold; COLOR: #828206; TEXT-DECORATION: none
}
.r_menu:hover {
	COLOR: #00518d
}
.login_text {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.login_text:hover {
	COLOR: #e2e237
}
.login_submit {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #e2e237; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.item_text {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0668b0; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.item_remark {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #aaaaaa; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.news_title {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #828206; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.news_title:hover {
	COLOR: #00518d
}
.cat_name {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.CmsHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.marriage {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #aa0000; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.CmsMainText {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.CmsMainHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0046a6; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.big_red {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #b30101; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.big_red2 {
	COLOR: #000000; TEXT-DECORATION: none
}
.FAQBigLetter {
	FONT: bold 24px Times,; COLOR: #276482; TEXT-DECORATION: none
}
.prv {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #dd0000; LINE-HEIGHT: normal; FONT-STYLE: normal; BACKGROUND-COLOR: #fae0e0; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.user_status {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0000dd; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.mini {
	PADDING-RIGHT: 2px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; FONT: 9px Tahoma,; WIDTH: 95%; COLOR: #555555; PADDING-TOP: 2px; BACKGROUND-COLOR: #fae0e0; TEXT-DECORATION: none
}
.game_link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0000ff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.krit {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #b30101; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.udar {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0000ff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.red {
	COLOR: red
}
.command_1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: blue; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.command_2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: green; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.battle_boxes {
	BORDER-RIGHT: #afa794 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #afa794 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; BORDER-LEFT: #afa794 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #afa794 1px solid; BACKGROUND-COLOR: #e4ddce
}
.battle_cnt_fon {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-COLOR: #eadcc2
}
.gr_bg {
	BACKGROUND: #55cf0a
}
.gr_bg1 {
	BACKGROUND: #ff7676
}
#dhtmltooltip2 {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: black 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; Z-INDEX: 100; FILTER: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135); VISIBILITY: hidden; PADDING-BOTTOM: 2px; BORDER-LEFT: black 1px solid; LINE-HEIGHT: normal; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; FONT-STYLE: normal; POSITION: absolute; BACKGROUND-COLOR: lightyellow; FONT-VARIANT: normal
}
.btn {
	BORDER-RIGHT: #636363 1px solid; BORDER-TOP: #636363 1px solid; FONT-SIZE: 11px; BACKGROUND: url(/ndesign/tpp/buttons_bg.gif) #9a9996 repeat-x right 50%; BORDER-LEFT: #636363 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #636363 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial; HEIGHT: 18px; TEXT-DECORATION: none
}
.standbut {
	BORDER-RIGHT: #636363 1px solid; BORDER-TOP: #636363 1px solid; FONT-SIZE: 11px; BACKGROUND: url(/ndesign/tpp/buttons_bg.gif) #9a9996 repeat-x right 50%; BORDER-LEFT: #636363 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #636363 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial; HEIGHT: 18px; TEXT-DECORATION: none
}
.input {
	BORDER-RIGHT: #636363 1px solid; BORDER-TOP: #636363 1px solid; FONT-SIZE: 11px; BACKGROUND: url(/ndesign/tpp/buttons_bg.gif) #9a9996 repeat-x right 50%; BORDER-LEFT: #636363 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #636363 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial; HEIGHT: 18px; TEXT-DECORATION: none
}
.inup {
	BORDER-RIGHT: #817a63 1px double; BORDER-TOP: #817a63 1px double; FONT-SIZE: 11px; BORDER-LEFT: #817a63 1px double; COLOR: #dfddd3; BORDER-BOTTOM: #817a63 1px double; BACKGROUND-COLOR: #151616
}
.tol_bg_c {
	BACKGROUND-POSITION: 50% bottom
}
.m {
	BACKGROUND: #b9ae9a; TEXT-ALIGN: center
}
.s {
	BACKGROUND: #c4c3ad; TEXT-ALIGN: center
}
.nick {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003388; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.nick:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0066ff; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.field_border {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #666666 1px solid
}
.field_border_items {
	BORDER-RIGHT: #aea798 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aea798 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #aea798 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #aea798 1px solid
}
TD.itemhead {
	PADDING-LEFT: 7px; BACKGROUND-POSITION-X: center; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(/ndesign/tpp/itemhead_bg.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 18px; BACKGROUND-COLOR: #b8ab57
}
TABLE.item {
	BORDER-RIGHT: #a4a38e 1px solid; BORDER-TOP: #a4a38e 1px solid; BORDER-LEFT: #a4a38e 1px solid; BORDER-BOTTOM: #a4a38e 1px solid
}
TABLE.upnv {
	BORDER-RIGHT: #b8ab57 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #b8ab57 1px solid; PADDING-LEFT: 6px; BORDER-LEFT: #b8ab57 1px solid; BORDER-BOTTOM: #b8ab57 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #b8ab57
}
TABLE.ra_all {
	MARGIN-TOP: 4px; BACKGROUND-COLOR: #e2e3cd
}
TABLE.ra_uptbl {
	BACKGROUND-POSITION: left 50%; BACKGROUND-IMAGE: url(/ndesign/ramkas/top_cnt_bg.gif); BACKGROUND-REPEAT: repeat-x
}
TD.ra_name {
	PADDING-LEFT: 15px; FONT-SIZE: 11px; COLOR: white; PADDING-TOP: 2px; FONT-FAMILY: Tahoma, Verdana, Arial
}
TD.ra_left_bg {
	BACKGROUND-POSITION: left 50%; BACKGROUND-IMAGE: url(/ndesign/ramkas/left_bg.gif); BACKGROUND-REPEAT: repeat-y
}
TD.ra_inbox {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
TD.ra_right_bg {
	BACKGROUND-POSITION: right 50%; BACKGROUND-IMAGE: url(/ndesign/ramkas/right_bg.gif); BACKGROUND-REPEAT: repeat-y
}
TABLE.ra_down_bg {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/ndesign/ramkas/down_bg.gif); BACKGROUND-REPEAT: repeat-x
}
