body, td, ol, ul, li , p {
  FONT-SIZE: 8pt;
  FONT-FAMILY: Verdana, Arial, Helvetica, Tahoma, sans-serif;
}

.text {
  FONT-SIZE: 8pt; COLOR: #000000; FONT-WEIGHT: normal; 
  FONT-FAMILY: Verdana, Arial, Helvetica, Tahoma, sans-serif;
}
H3			{ FONT-FAMILY: Arial;  FONT-SIZE: 12pt;  FONT-WEIGHT: bold; TEXT-ALIGN: center }
H4			{ FONT-SIZE: 10pt; COLOR: 926539; FONT-WEIGHT: bold; TEXT-ALIGN: center }

A:link, A:visited, A:active {
        FONT-SIZE: 8pt;
        FONT-WEIGHT: bold;
        COLOR: black;
        TEXT-DECORATION: none;
}
A:hover {
       FONT-SIZE: 8pt;
        COLOR: #FF4400;
}

.title	{ COLOR: 993300; FONT-FAMILY: Arial;  FONT-SIZE: 14pt;  FONT-WEIGHT: bold; TEXT-ALIGN: center }


BODY {
	CURSOR: url('3dgarro.cur'); BACKGROUND-COLOR: #EBEDEC
}
BODY {
	SCROLLBAR-FACE-COLOR: #EBEDEC; FONT-SIZE: 8pt; SCROLLBAR-HIGHLIGHT-COLOR: #EBEDEC; SCROLLBAR-TRACK-COLOR: #EBEDEC; FONT-FAMILY: Verdana
}
.shop	{ COLOR: 315A94; FONT-SIZE: 10pt; FONT-WEIGHT: Bold; }

.date1		{ font-family: Courier; font-size: 8pt; text-decoration:none; font-weight:normal; color: #007000; }
.date2		{ font-family: Courier; font-size: 8pt; text-decoration:none; font-weight:normal; color: #007000; background-color: #00FFAA}

.invisible	{ text-decoration:none; color: #8C8989; cursor: help; }

.sysmessage	{ font-family: Courier; font-size: 8pt; text-decoration:none; font-weight:normal; color: #B00000}
.sysmessage2		{ font-family: Courier; font-size: 8pt; text-decoration:none; font-weight:normal; color: #007000}
.bloked	{ font-weight:bold; color: red;}

select,textarea	{ border: solid 1pt #B0B0B0; font-family: MS Sans Serif; font-size: 10px; color: #191970; MARGIN-BOTTOM: 2px; MARGIN-TOP: 1px;}

.input	{ border: solid 1pt #B0B0B0; font-family: MS Sans Serif; font-size: 10px; color: #191970; MARGIN-BOTTOM: 2px; MARGIN-TOP: 1px;}

.radbut		{ border: solid 0px #B0B0B0; font-family: MS Sans Serif; font-size: 10px; color: #191970; MARGIN-BOTTOM: 2px; MARGIN-TOP: 1px;}

.standbut 	{ color:#000000; font: 10px verdana; font-weight: none; text-decoration: none; background: #EFEFF1; border: 1 solid #5C5E5C; BACKGROUND-IMAGE:  url(i\input.gif);}

.search		{ border: solid 2px #B0B0B0; font-family: MS Sans Serif; font-size: 10px; color: #191970; MARGIN-BOTTOM: 2px; MARGIN-TOP: 1px;}

.inputpr {
        BORDER-RIGHT: #9ca2ad 1px solid; BORDER-TOP: #9ca2ad 1px solid; FONT-SIZE: 11px; BACKGROUND: #ffffff; BORDER-LEFT: #9ca2ad 1px solid; COLOR: #000000; BORDER-BOTTOM: #9ca2ad 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 18px; size: 17

}

img,table	{border:0}

.player	{ color: 0046D5; font-weight:bold; cursor:hand; }
.private { COLOR: red; font-weight:bold; cursor:hand; background-color: #FFE4E1 }
.the { COLOR: green; font-weight:bold; cursor:hand; background-color: #C1FFC1 }
.ch	{ color: 899597; font-weight:bold; }


.hint{
 border-bottom:solid #000000 1px;
 border-top:solid #000000 1px;
 border-left:solid #000000 1px;
 border-right:solid #000000 1px;
 padding-top:2;
 padding-bottom:2;
 padding-left:3;
 padding-right:3;
 font-family:Verdana;
 background:#FFFFE1;
}

#hint1{ position:absolute;visibility:hidden }
.to {
 CURSOR: Hand;
 COLOR: 2E5289;
 FONT-WEIGHT: Bold;
}
.menu {
  background-color: #eeeeee;
  border-style: outset; border-width: 1;
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
  cursor:hand;
}

.menuItem {
  color: #000000;
  display: block;
  font-family: Verdana;
  font-size: 8pt;
  font-weight: bold;
  padding: 2px 12px 2px 8px;
  text-decoration: none;
  cursor:hand;
}

.menuItem2 {
  background-color: #3A82F4;
  color: #FFFFFF;
  font-family: Verdana;
  font-size: 8pt;
  font-weight: bold;
  padding: 2px 12px 2px 8px;
  text-decoration: none;
  cursor:hand;
}
