body, td, ol, ul, li , p {
  FONT-SIZE: 10pt;
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
  COLOR: #8A6246;
 }

.title {
  FONT-SIZE: 18px;
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
  COLOR: #7F3116;
}

A:link, A:visited {
        FONT-SIZE: 10pt;
        FONT-WEIGHT: bold;
        COLOR: #8A6246;
        TEXT-DECORATION: none;
}
A:active {
	color: #CCB268;
}
A:hover {
	color: #EACC78;
}

img,table	{border:0}

.input	{ border: solid 1pt #B0B0B0; font-family: MS Sans Serif; font-size: 10pt; MARGIN-BOTTOM: 2px; MARGIN-TOP: 1px; BACKGROUND-COLOR: #DAB69E; COLOR: #8A6246; BORDER-COLOR: #8A6246}