/* General Style */
.topLink a:link, a.funcLink:link, a.topSortLink:link, a.postUser:link, a.postNumberLink:link {text-decoration:underline; color:#FFECBD;}
.topLink a:active, a.funcLink:active, a.topSortLink:active, a.postUser:active, a.postNumberLink:active  {text-decoration:underline; color:#FFECBD;}
.topLink a:visited, a.funcLink:visited, a.topSortLink:visited, a.postUser:visited, a.postNumberLink:visited  {text-decoration:underline; color:#FFECBD;}
.topLink a:hover, a.funcLink:hover, a.topSortLink:hover, a.postUser:hover, a.postNumberLink:hover  {text-decoration:none; color:#FFFFFF;}

a:link {text-decoration:underline; color:#D13702;}
a:active {text-decoration:underline; color:#D13702;}
a:visited {text-decoration:underline; color:#D13702;}
a:hover {text-decoration:none; color:#FF0000;}

td, body {font-family:verdana,arial,helvetica; font-size:8pt;}
form {padding:0px;margin:0px;}
input,textarea,select {vertical-align:middle; font-size:8pt; font-family:verdana,arial,helvetica;}
.copy {font-size:7pt;}

a.noun:link {text-decoration:none; color:#000000}
a.noun:active {text-decoration:none; color:#000000}
a.noun:visited {text-decoration:none; color:#000000}
a.noun:hover {text-decoration:underline; color:#D13702}

hr {color:#EBD98E;height:1px;}
label {cursor:pointer;cursor:hand}

.blocktitle {font-family:Verdana,Sans-Serif;color:#D9B627;font-size:12px;}

a.menu1:link {text-decoration:underline; color:#FAFAFA}
a.menu1:active {text-decoration:underline; color:#FAFAFA}
a.menu1:visited {text-decoration:underline; color:#FAFAFA}
a.menu1:hover {text-decoration:underline; color:#EBD98E}
.menuTd {padding-left:12px;padding-right:10px; background: url('http://src.ucoz.ru/t/995/29.gif') no-repeat 0px 3px;}

.mframe {border-left:1px solid #E5E7EA; border-right:1px solid #E5E7EA;}
.colgray {border-right:1px solid #E5E7EA;}
.colwhite {border-right:1px solid #FAFAFA;}
.msep {border-top:1px solid #FAFAFA;}
/* ------------- */

/* Menus */
ul.uz {list-style: none; margin: 0 0 0 0; padding-left: 0px;}
li.menus {margin: 0; padding: 0 0 0 11px; background: url('http://src.ucoz.ru/t/995/30.gif') no-repeat 0px 3px; margin-bottom: .6em;}
/* ----- */

/* Main Menu */
.m {font-weight:normal;}
a.m:link {text-decoration:none; color:#000000}
a.m:active {text-decoration:nonee; color:#000000}
a.m:visited {text-decoration:none; color:#000000}
a.m:hover {text-decoration:underline; color:#D13702}

a.ma:link {text-decoration:none; color:#D13702}
a.ma:visited {text-decoration:none; color:#D13702}
a.ma:hover {text-decoration:none; color:#D13702}
li.m {margin: 0; padding: 0 0 0 11px; background: url('http://src.ucoz.ru/t/995/30.gif') no-repeat 0px 3px; margin-bottom: .6em;}
/* --------- */

/* Module Part Menu */
.catsTd {padding: 0 0 6px 11px; background: url('http://src.ucoz.ru/t/995/30.gif') no-repeat 0px 3px;}
.catName {font-family:Tahoma,Arial,Sans-Serif;font-size:11px;}
.catNameActive {font-family:Tahoma,Arial,Sans-Serif;font-size:11px;}
.catNumData {font-size:7pt;color:#948549;}
.catDescr {font-size:7pt; padding-left:10px;}
a.catName:link {text-decoration:none; color:#000000;}
a.catName:visited {text-decoration:none; color:#000000;}
a.catName:hover {text-decoration:underline; color:#D13702;}
a.catName:active {text-decoration:none; color:#000000;}
a.catNameActive:link {text-decoration:none; color:#D13702;}
a.catNameActive:visited {text-decoration:none; color:#D13702;}
a.catNameActive:hover {text-decoration:none; color:#000000;}
a.catNameActive:active {text-decoration:none; color:#000000;}
/* ----------------- */

/* Entries Style */
.eBlock {}
.eTitle {font-family:Verdana,Arial,Sans-Serif;font-size:13px;font-weight:bold;color:#948549; padding: 0 0 0 17px; background: url('http://src.ucoz.ru/t/995/31.gif') no-repeat 0px 2px;}
.eTitle a:link {text-decoration:underline; color:#D13702;}
.eTitle a:visited {text-decoration:underline; color:#D13702;}
.eTitle a:hover {text-decoration:underline; color:#000000;}
.eTitle a:active {text-decoration:underline; color:#D13702;}

.eMessage {text-align:justify;padding-bottom:5px;}
.eText {text-align:justify;padding-bottom:5px;padding-top:5px;border-top:1px solid #EBD98E}
.eDetails {border-top:1px dashed #DBB270;border-bottom:1px dashed #DBB270;font-family:Tahoma,Arial,Sans-Serif;color:#A88956;padding-bottom:5px;padding-top:3px;text-align:left;font-size:7pt;}
.eDetails1 {border-top:1px dashed #DBB270;border-bottom:1px dashed #DBB270;font-family:Tahoma,Arial,Sans-Serif;color:#A88956;padding-bottom:5px;padding-top:3px;text-align:left;font-size:8pt;}
.eDetails2 {border-bottom:1px dashed #DBB270;font-family:Tahoma,Arial,Sans-Serif;color:#1A1A1A;padding-bottom:5px;padding-top:3px;text-align:left;font-size:8pt;}

.eRating {font-size:7pt;}

.eAttach {margin: 16px 0 0 0; padding: 0 0 0 15px; background: url('http://src.ucoz.ru/t/995/32.gif') no-repeat 0px 0px;}
/* ------------- */

/* Entry Manage Table */
.manTable {}
.manTdError {color:#FF0000;}
.manTd1 {}
.manTd2 {}
.manTd3 {}
.manTdSep {}
.manHr {}
.manTdBrief {}
.manTdText {}
.manTdFiles {}
.manFlFile {}
.manTdBut {}
.manFlSbm {}
.manFlRst {}
.manFlCnt {}
/* ------------------ */

/* Comments Style */
.cAnswer {padding-left:15px;padding-top:4px;font-style:italic;}

.cBlock1 {background:#FFFADF; border:1px solid #EBD98E;}
.cBlock2 {background:#FFFADF; border:1px solid #EBD98E;}
/* -------------- */

/* Comments Form Style */
.commTable {}
.commTd1 {color:#000000;}
.commTd2 {}
.commFl {color:#948549;width:100%;background:#FEFEFA;border:1px solid #EBD98E;}
.smiles {border:1px inset;background:#FFFFFF;}
.commReg {padding: 10 0 10 0px; text-align:center;}
.commError {color:#FF0000;}
.securityCode {color:#948549;background:#FEFEFA;border:1px solid #EBD98E;}
/* ------------------- */

/* Archive Menu */
.archLi {padding: 0 0 3px 10px; background: url('http://src.ucoz.ru/t/995/33.gif') no-repeat 0px 4px; font-family:Tahoma,Arial,Sans-Serif;}
a.archLink:link {text-decoration:underline; color:#000000;}
a.archLink:visited {text-decoration:underline; color:#000000;}
a.archLink:hover {text-decoration:none; color:#000000;}
a.archLink:active {text-decoration:none; color:#000000;}
/* ------------ */

/* Archive Style */
.archiveCalendars {text-align:center;color:#0000FF;}
.archiveDateTitle {font-weight:bold;color:#D13702;padding-top:15px;}
.archEntryHr {width:250px;color:#DEC089;}
.archiveeTitle li {margin-left: 15px; padding: 0 0 0 15px; background: url('http://src.ucoz.ru/t/995/34.gif') no-repeat 0px 4px; margin-bottom: .6em;}
.archiveEntryTime {width:65px;font-style:italic;}
.archiveEntryComms {font-size:9px;color:#AE8741;}
a.archiveDateTitleLink:link {text-decoration:none; color:#000000}
a.archiveDateTitleLink:visited {text-decoration:none; color:#000000}
a.archiveDateTitleLink:hover {text-decoration:underline; color:#FF0000}
a.archiveDateTitleLink:active {text-decoration:underline; color:#000000}
.archiveNoEntry {text-align:center;color:#0000FF;}
/* ------------- */

/* Calendar Style */
.calMonth {}
.calWday {color:#FFFADF; background:#D69D30; width:18px;}
.calWdaySe {color:#FFFADF; background:#A35A1E; width:18px;}
.calWdaySu {color:#FFFADF; background:#A35A1E; width:18px; font-weight:bold;}
.calMday {background:#FFFADF;}
.calMdayA {background:#D13702;font-weight:bold;color:#FFFADF}
.calMdayIs {background:#E4DFBE;font-weight:bold;}
.calMdayIsA {border:1px solid #D13702; background:#E4DFBE;font-weight:bold;}
a.calMonthLink:link,a.calMdayLink:link {text-decoration:none; color:#D13702;}
a.calMonthLink:visited,a.calMdayLink:visited {text-decoration:none; color:#D13702;}
a.calMonthLink:hover,a.calMdayLink:hover {text-decoration:underline; color:#FF000000;}
a.calMonthLink:active,a.calMdayLink:active {text-decoration:underline; color:#D13702;}
/* -------------- */

/* Poll styles */
.pollBut {width:110px;}

.pollBody {padding:7px; margin:0px; background:url('http://src.ucoz.ru/t/995/36.jpg') #000000;}
.textResults {background:#EBEAE0}
.textResultsTd {background:#E6DEBA}
.pollBodyTable {background:#F7F0BB;}

.pollNow {border-bottom:1px solid #EBEAE0; border-left:1px solid #EBEAE0; border-right:1px solid #EBEAE0;}
.pollNowTd {background:#E6DEBA}

.totalVotesTable {border-bottom:1px solid #EBEAE0; border-left:1px solid #EBEAE0; border-right:1px solid #EBEAE0;}
.totalVotesTd {background:#E6DEBA;}
/* ---------- */

/* User Group Marks */
a.groupModer:link,a.groupModer:visited,a.groupModer:hover {color:blue;}
a.groupAdmin:link,a.groupAdmin:visited,a.groupAdmin:hover {color:red;}
a.groupVerify:link,a.groupVerify:visited,a.groupVerify:hover {color:green;}
/* ---------------- */

/* Other Styles */
.replaceTable {background:#FDFCF4;height:100px;width:300px;border:1px solid #D9B627;}
.replaceBody {background:url('http://src.ucoz.ru/t/995/37.jpg') #E9D8AD;}

.legendTd {font-size:7pt;}
.legendTable, .fFastSearchTd, .userRights {}
/* ------------ */

/* ===== forum Start ===== */

/* General forum Table View */
.gTable {background:url('http://src.ucoz.ru/t/995/23.gif') bottom repeat-x #E5D4A9;border-left:1px solid #A5893C;border-right:1px solid #A5893C;padding-bottom:10px;}
.gTableTop {padding:2px;background:url('http://src.ucoz.ru/t/995/18.gif') top repeat-x #FFFFFF;color:#D13702;font-weight:bold;height:30px;padding-left:17px;padding-top:10px;font-size:10pt;}
.gTableSubTop {padding:2px;background:url('http://src.ucoz.ru/t/995/11.jpg') center #E65D03;color:#FFFADF;height:20px;font-size:10px;}
.gTableBody {padding:2px;background:url('http://src.ucoz.ru/t/995/37.jpg') #E9D8AD;}
.gTableBody1 {padding:2px;background:#FFFFFF;}
.gTableBottom {padding:2px;background:url('http://src.ucoz.ru/t/995/37.jpg') #E9D8AD;}
.gTableLeft {padding:2px;background:url('http://src.ucoz.ru/t/995/37.jpg') #E9D8AD;font-weight:bold;color:#948549}
.gTableRight {padding:2px;background:url('http://src.ucoz.ru/t/995/37.jpg') #E9D8AD;}
.gTableError {padding:2px;background:url('http://src.ucoz.ru/t/995/37.jpg') #E9D8AD;color:#FF0000;}
/* ------------------------ */

/* Forums Styles */
.forumNameTd,.forumLastPostTd {padding:2px;background:#FFFFFF}
.forumIcoTd,.forumThreadTd,.forumPostTd {padding:2px;background:url('http://src.ucoz.ru/t/995/37.jpg') #E9D8AD;}
.forumLastPostTd,.forumArchive {padding:2px;font-size:7pt;}

a.catLink:link {text-decoration:underline; color:#D13702;}
a.catLink:visited {text-decoration:underline; color:#D13702;}
a.catLink:hover {text-decoration:underline; color:#FF0000;}
a.catLink:active {text-decoration:underline; color:#D13702;}

.lastPostGuest,.lastPostUser,.threadAuthor {font-weight:bold}
.archivedForum{font-size:7pt;color:#FF0000;font-weight:bold;}
/* ------------- */

/* forum Titles & other */
.forum {font-weight:bold;font-size:9pt;}
.forumDescr,.forumModer {color:#858585;font-size:7pt;}
.forumViewed {font-size:9px;}
a.forum:link, a.lastPostUserLink:link, a.forumLastPostLink:link, a.threadAuthorLink:link {text-decoration:none; color:#948549;}
a.forum:visited, a.lastPostUserLink:visited, a.forumLastPostLink:visited, a.threadAuthorLink:visited {text-decoration:none; color:#948549;}
a.forum:hover, a.lastPostUserLink:hover, a.forumLastPostLink:hover, a.threadAuthorLink:hover {text-decoration:underline; color:#BEA863;}
a.forum:active, a.lastPostUserLink:active, a.forumLastPostLink:active, a.threadAuthorLink:active {text-decoration:underline; color:#948549;}
/* -------------------- */

/* forum Navigation Bar */
.forumNamesBar {font-weight:bold;font-size:7pt;color:#D69D30;}
.forumBarKw {font-weight:normal;}
a.forumBarA:link {text-decoration:none; color:#000000;}
a.forumBarA:visited {text-decoration:none; color:#000000;}
a.forumBarA:hover {text-decoration:none; color:#FFFFFF;}
a.forumBarA:active {text-decoration:underline; color:#000000;}
/* -------------------- */

/* forum Fast Navigation Blocks */
.fastNav,.fastSearch,.fastLoginForm {font-size:7pt;}
/* ---------------------------- */

/* forum Fast Navigation Menu */
.fastNavMain {background:#F1EEC5;}
.fastNavCat {background:#F9F5E6;}
.fastNavCatA {background:#F9F5E6;color:#0000FF}
.fastNavForumA {color:#0000FF}
/* -------------------------- */

/* forum Page switches */
.switches {background:#EBD98E;}
.pagesInfo {background:#FFFADF;padding-right:10px;font-size:7pt;}
.switch {background:#FFFADF;width:15px;font-size:7pt;}
.switchActive {background:#D13702;font-weight:bold;color:#FFFADF;width:15px}
a.switchDigit:link,a.switchBack:link,a.switchNext:link {text-decoration:none; color:#000000;}
a.switchDigit:visited,a.switchBack:visited,a.switchNext:visited {text-decoration:none; color:#000000;}
a.switchDigit:hover,a.switchBack:hover,a.switchNext:hover {text-decoration:underline; color:#FF0000;}
a.switchDigit:active,a.switchBack:active,a.switchNext:active {text-decoration:underline; color:#FF0000;}
/* ------------------- */

/* forum Threads Style */
.threadNametd,.threadAuthTd,.threadLastPostTd {padding:2px;padding:2px;background:#FFFFFF}
.threadIcoTd,.threadPostTd,.threadViewTd {padding:2px;background:url('http://src.ucoz.ru/t/995/37.jpg') #E9D8AD;}
.threadLastPostTd {padding:2px;font-size:7pt;}
.threadDescr {color:#858585;font-size:7pt;}
.threadNoticeLink {font-weight:bold;}
.threadsType {padding:2px;background:#FFFADF;height:20px;font-weight:bold;font-size:7pt;color:#948549;padding-left:40px;}
.threadsDetails {padding:2px;background:#FFFADF;height:20px;color:#948549;}
.forumOnlineBar {padding:2px;background:#FFFFFF;color:#D13702;height:20px;}

a.threadPinnedLink:link {text-decoration:none; color:#0000FF;}
a.threadPinnedLink:visited {text-decoration:none; color:#0000FF;}
a.threadPinnedLink:hover {text-decoration:none; color:#FF0000;}
a.threadPinnedLink:active {text-decoration:underline; color:#FF0000;}

a.threadLink:link {text-decoration:none; color:#948549;}
a.threadLink:visited {text-decoration:none; color:#948549;}
a.threadLink:hover {text-decoration:underline; color:#000000;}
a.threadLink:active {text-decoration:underline; color:#000000;}

.postpSwithces {font-size:7pt;}
.thDescr {font-weight:normal;color:#712801;}
.threadFrmBlock {font-size:7pt;text-align:right;}
/* ------------------- */

/* forum Posts View */
.postTable {}
.postPoll {background:#FFFFFF;text-align:center;}
.postFirst {background:#FDFCF4;border-bottom:3px solid #FF5A02;}
.postRest1 {background:#F8F8ED;}
.postRest2 {background:#FDFCF4;}
.postSeparator {height:3px;background:#B5AF80;}

.postTdTop {background:url('http://src.ucoz.ru/t/995/11.jpg') center #E65D03;color:#FFFADF;height:20px;font-size:10px;}
.postBottom {background:#FFFADF;height:20px}
.postUser {font-weight:bold;}
.postTdInfo {background:url('http://src.ucoz.ru/t/995/37.jpg') #E9D8AD;text-align:center;padding:5px;}
.postRankName {margin-top:5px;}
.postRankIco {margin-bottom:5px;margin-bottom:5px;}
.reputation {margin-top:5px;}
.signatureHr {margin-top:20px;color:#D9B627;}
.posttdMessage {padding:5px;background:#FFFFFF;}

.pollQuestion {text-align:center;font-weight:bold;} 
.pollButtons,.pollTotal {text-align:center;}
.pollSubmitBut,.pollreSultsBut {width:140px;font-size:7pt;}
.pollSubmit {font-weight:bold;}
.pollEnd {text-align:center;height:30px;}

.codeMessage {background:#FFFFFF;font-size:9px;}
.quoteMessage {background:#FFFFFF;font-size:9px;}

.signatureView {font-size:7pt;} 
.edited {padding-top:30px;font-size:7pt;text-align:right;color:gray;}
.editedBy {font-weight:bold;font-size:8pt;}

.statusBlock {padding-top:3px;}
.statusOnline {color:#0000FF;}
.statusOffline {color:#FF0000;}
/* ------------------ */

/* forum AllInOne Fast Add */
.newThreadBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newPollBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newThreadItem {padding: 0 0 0 8px; background: url('http://src.ucoz.ru/t/995/39.gif') no-repeat 0px 4px;}
.newPollItem {padding: 0 0 0 8px; background: url('http://src.ucoz.ru/t/995/39.gif') no-repeat 0px 4px;}
/* ----------------------- */

/* forum Post Form */
.codeButtons {font-size:7pt;background:#FEFEFA;border:1px solid #948549;}
.codeCloseAll {font-size:7pt; color:#948549;font-weight:bold;background:#FEFEFA;border:1px solid #948549;}
.postNameFl,.postDescrFl {background:#FEFEFA;border:1px solid #948549;width:400px}
.postPollFl,.postQuestionFl {background:#FEFEFA;border:1px solid #948549;width:400px}
.postResultFl {background:#FEFEFA;border:1px solid #948549;width:50px}
.postAnswerFl {background:#FEFEFA;border:1px solid #948549;width:300px}
.postTextFl {background:#FEFEFA;border:1px solid #948549;width:550px;height:150px}
.postUserFl {background:#FEFEFA;border:1px solid #948549;width:300px}

.pollHelp {font-weight:normal;font-size:7pt;padding-top:3px;}
.smilesPart {padding-top:5px;text-align:center}
/* ----------------- */

/* ====== forum End ====== */