BODY {
        PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #000000; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #ffffff; PADDING-TOP: 0px
}
A:link {
        COLOR: #ffb019; TEXT-DECORATION: none
}
body_alink {
        COLOR: #ffb019; TEXT-DECORATION: none
}
A:visited {
        COLOR: #ffb019; TEXT-DECORATION: none
}
body_avisited {
        COLOR: #ffb019; TEXT-DECORATION: none
}
A:hover {
        COLOR: #ffffff; TEXT-DECORATION: underline
}
A:active {
        COLOR: #ffffff; TEXT-DECORATION: underline
}
body_ahover {
        COLOR: #ffffff; TEXT-DECORATION: underline
}
.page {
        COLOR: #ffffff
}
TD {
        FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
TH {
        FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
P {
        FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
LI {
        FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.tborder {
        BACKGROUND: #302d27
}
.tcat {
        BORDER-RIGHT: #404040 1px solid; BORDER-TOP: #6f6f6f 1px solid; BACKGROUND: #400000; FONT: bold 14px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; BORDER-LEFT: #6f6f6f 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #404040 1px solid
}
.tcat A:link {
        COLOR: #ffffff; TEXT-DECORATION: none
}
.tcat_alink {
        COLOR: #ffffff; TEXT-DECORATION: none
}
.tcat A:visited {
        COLOR: #ffffff; TEXT-DECORATION: none
}
.tcat_avisited {
        COLOR: #ffffff; TEXT-DECORATION: none
}
.tcat A:hover {
        COLOR: #ffff66; TEXT-DECORATION: underline
}
.tcat A:active {
        COLOR: #ffff66; TEXT-DECORATION: underline
}
.tcat_ahover {
        COLOR: #ffff66; TEXT-DECORATION: underline
}
.thead {
        BORDER-RIGHT: #404040 1px solid; BORDER-TOP: #6f6f6f 1px solid; BACKGROUND: #393731 repeat-x left top; FONT: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; BORDER-LEFT: #6f6f6f 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #404040 1px solid
}
.thead A:link {
        COLOR: #ffffff
}
.thead_alink {
        COLOR: #ffffff
}
.thead A:visited {
        COLOR: #ffffff
}
.thead_avisited {
        COLOR: #ffffff
}
.thead A:hover {
        COLOR: #ffff00
}
.thead A:active {
        COLOR: #ffff00
}
.thead_ahover {
        COLOR: #ffff00
}
.tfoot {
        BORDER-RIGHT: 1px outset; PADDING-RIGHT: 10px; BORDER-TOP: 1px outset; PADDING-LEFT: 10px; BACKGROUND: #2f2f4f; PADDING-BOTTOM: 10px; BORDER-LEFT: 1px outset; COLOR: #ffffcc; PADDING-TOP: 10px; BORDER-BOTTOM: 1px outset
}
.tfoot A:link {
        COLOR: #ffffcc
}
.tfoot_alink {
        COLOR: #ffffcc
}
.tfoot A:visited {
        COLOR: #ffffcc
}
.tfoot_avisited {
        COLOR: #ffffcc
}
.tfoot A:hover {
        COLOR: #ffffcc; TEXT-DECORATION: underline
}
.tfoot A:active {
        COLOR: #ffffcc; TEXT-DECORATION: underline
}
.tfoot_ahover {
        COLOR: #ffffcc; TEXT-DECORATION: underline
}
.alt1 {
        BORDER-RIGHT: #2e2d2d 1px solid; BORDER-TOP: #898785 1px solid; BACKGROUND: #222222; BORDER-LEFT: #898785 1px solid; COLOR: #d7cea4; BORDER-BOTTOM: #2e2d2d 1px solid
}
.alt1Active {
        BORDER-RIGHT: #2e2d2d 1px solid; BORDER-TOP: #898785 1px solid; BACKGROUND: #222222; BORDER-LEFT: #898785 1px solid; COLOR: #d7cea4; BORDER-BOTTOM: #2e2d2d 1px solid
}
.alt2 {
        BORDER-RIGHT: #2e2d2d 1px solid; BORDER-TOP: #898785 1px solid; BACKGROUND: #444444; BORDER-LEFT: #898785 1px solid; COLOR: #d7cea4; BORDER-BOTTOM: #2e2d2d 1px solid
}
.alt2Active {
        BORDER-RIGHT: #2e2d2d 1px solid; BORDER-TOP: #898785 1px solid; BACKGROUND: #444444; BORDER-LEFT: #898785 1px solid; COLOR: #d7cea4; BORDER-BOTTOM: #2e2d2d 1px solid
}
TD.inlinemod {
        BACKGROUND: #ffffcc; COLOR: #000000
}
.wysiwyg {
        BACKGROUND: #444444; FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #d7cea4
}
TEXTAREA {
        BACKGROUND: #444444; FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #d7cea4
}
.bginput {
        BACKGROUND: #444444; FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #d7cea4
}
.button {
        BACKGROUND: #400000; FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #ffffcc
}
SELECT {
        BACKGROUND: #2f2f4f; FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #ffffff
}
OPTION {
        FONT-SIZE: 11px; FONT-FAMILY: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
OPTGROUP {
        FONT-SIZE: 11px; FONT-FAMILY: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.smallfont {
        FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.time {
        COLOR: #ffffcc
}
.navbar {
        FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.highlight {
        FONT-WEIGHT: bold; COLOR: #ffb019
}
.fjsel {
        BACKGROUND: #3e5c92; COLOR: #e0e0f6
}
.fjdpth0 {
        BACKGROUND: #f7f7f7; COLOR: #000000
}
.panel {
        BORDER-RIGHT: 2px outset; PADDING-RIGHT: 10px; BORDER-TOP: 2px outset; PADDING-LEFT: 10px; BACKGROUND: #000000; PADDING-BOTTOM: 10px; BORDER-LEFT: 2px outset; COLOR: #ffffff; PADDING-TOP: 10px; BORDER-BOTTOM: 2px outset
}
.panelsurround {
        BACKGROUND: #000000; COLOR: #414141
}
LEGEND {
        FONT: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #ffffff
}
.vbmenu_control {
        BORDER-RIGHT: #404040 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #6f6f6f 1px solid; PADDING-LEFT: 6px; BACKGROUND: #400000; PADDING-BOTTOM: 3px; FONT: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; BORDER-LEFT: #6f6f6f 1px solid; COLOR: #ffffff; PADDING-TOP: 3px; BORDER-BOTTOM: #404040 1px solid; WHITE-SPACE: nowrap
}
.vbmenu_control A:link {
        COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_control_alink {
        COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_control A:visited {
        COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_control_avisited {
        COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_control A:hover {
        COLOR: #ffffff; TEXT-DECORATION: underline
}
.vbmenu_control A:active {
        COLOR: #ffffff; TEXT-DECORATION: underline
}
.vbmenu_control_ahover {
        COLOR: #ffffff; TEXT-DECORATION: underline
}
.vbmenu_popup {
        BORDER-RIGHT: #0b198c 1px solid; BORDER-TOP: #0b198c 1px solid; BACKGROUND: #000000; BORDER-LEFT: #0b198c 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #0b198c 1px solid
}
.vbmenu_option {
        BACKGROUND: #2f2f4f; FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; CURSOR: pointer; COLOR: #ffffff; WHITE-SPACE: nowrap
}
.vbmenu_option A:link {
        COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_option_alink {
        COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_option A:visited {
        COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_option_avisited {
        COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_option A:hover {
        COLOR: #ffffff; TEXT-DECORATION: underline
}
.vbmenu_option A:active {
        COLOR: #ffffff; TEXT-DECORATION: underline
}
.vbmenu_option_ahover {
        COLOR: #ffffff; TEXT-DECORATION: underline
}
.vbmenu_hilite {
        BACKGROUND: #003333; FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; CURSOR: pointer; COLOR: #ffffff; WHITE-SPACE: nowrap
}
.vbmenu_hilite A:link {
        COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite_alink {
        COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite A:visited {
        COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite_avisited {
        COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite A:hover {
        COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite A:active {
        COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite_ahover {
        COLOR: #ffffff; TEXT-DECORATION: none
}
.bigusername {
        FONT-SIZE: 14pt
}
TD.thead {
        PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
TH.thead {
        PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
DIV.thead {
        PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.pagenav A {
        TEXT-DECORATION: none
}
.pagenav TD {
        PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.shade {
        COLOR: #777777; TEXT-DECORATION: none
}
A.shade:link {
        COLOR: #777777; TEXT-DECORATION: none
}
A.shade:visited {
        COLOR: #777777; TEXT-DECORATION: none
}
A.shade:active {
        COLOR: #ff4400; TEXT-DECORATION: underline
}
A.shade:hover {
        COLOR: #ff4400; TEXT-DECORATION: underline
}
.tcat .shade {
        COLOR: #dddddd
}
.thead .shade {
        COLOR: #dddddd
}
.tfoot .shade {
        COLOR: #dddddd
}
.fieldset {
        MARGIN-BOTTOM: 6px
}
.fieldset {
        FONT-SIZE: 11px
}
.fieldset TD {
        FONT-SIZE: 11px
}
.fieldset P {
        FONT-SIZE: 11px
}
.fieldset LI {
        FONT-SIZE: 11px
}
FORM {
        DISPLAY: inline
}
LABEL {
        CURSOR: default
}
.normal {
        FONT-WEIGHT: normal
}
.inlineimg {
        VERTICAL-ALIGN: middle
}
.underline {
        TEXT-DECORATION: underline
}
.marble {
        FONT-SIZE: 12px; COLOR: #000000
}
.marble A:visited {
        COLOR: #000000; TEXT-DECORATION: none
}
.marble A:link {
        COLOR: #000000; TEXT-DECORATION: none
}
.marble A:hover {
        COLOR: #400000; TEXT-DECORATION: underline
}
.marble A:active {
        COLOR: #400000; TEXT-DECORATION: underline
}
.banner {
        FONT-SIZE: 11px; COLOR: #000000
}
.banner A:visited {
        COLOR: #000000; TEXT-DECORATION: none
}
.banner A:link {
        COLOR: #000000; TEXT-DECORATION: none
}
.banner A:hover {
        COLOR: #400000; TEXT-DECORATION: underline
}
.banner A:active {
        COLOR: #400000; TEXT-DECORATION: underline
}
.searchbox {
        BORDER-LEFT-COLOR: #7f7f7f; BORDER-BOTTOM-COLOR: #7f7f7f; FONT: 9pt arial, helvetica, sans-serif; COLOR: #ffac04; BORDER-TOP-COLOR: #7f7f7f; BACKGROUND-COLOR: #040d1a; BORDER-RIGHT-COLOR: #7f7f7f
}
.navbar_item {
        PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 3px; FONT: 9pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; PADDING-TOP: 2px; WHITE-SPACE: nowrap
}
.navbar_item A:visited {
        COLOR: #ffffff; TEXT-DECORATION: none
}
.navbar_item A:link {
        COLOR: #ffffff; TEXT-DECORATION: none
}
.navbar_item A:active {
        COLOR: #ffffcc; TEXT-DECORATION: underline
}
.navbar_item A:hover {
        COLOR: #ffffcc; TEXT-DECORATION: underline
}
